<div id="<%= dom_id user %>">
  <p>
    <strong>ユーザー名:</strong>
    <%= user.name %>
  </p>

  <% if (session[:user_id] == user.id)%>
    <p>
      <strong>メールアドレス:</strong>
      <%= user.email %>
    </p>
  <% end %>
</div>
